
{% block title %}Hello BlogController!{% endblock %}

{% block body %}  
    <section clase="aticles">
         {% for article in articles %}
            <article>
                <h2>{{article.title}}</h2> 
                <div class="metadata">Ecrit le 12/06/2020 à 19:00 dans catégorie Sport</div>
                <div class="content">
                    <img src="{{article.image}}" alt="">
                    {{article.content | raw}}
                    <a href="{{ path('blog_show',{'id':article.id}) }}" class="btn btn-primary">lire la suite</a>
                </div>
            </article>
       {% endfor %}
    </section>
{% endblock %}

