{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}


<section clase="aticles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 12/06/2020 à 19:00 dans catégorie Sport</div>
            <div class="content">
                <img src="http://placehold.it/350×150" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta iste molestiae nobis rem ullam eaque?</p>
                <p>Earum tempore harum, magni molestias vitae voluptatum, laborum incidunt fugiat iure nesciunt aliquam. Expedita, necessitatibus?</p>
                <a href="" class="btn btn-primary">lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 12/06/2020 à 19:00 dans catégorie Sport</div>
            <div class="content">
                <img src="http://placehold.it/350×150" alt="">
                <p>Ab magnam cumque suscipit ipsa, dolorem omnis explicabo fugit pariatur fugiat consectetur cum praesentium ea.</p>
                <p>Consequatur hic aliquid ex quibusdam repudiandae eveniet, consectetur iure, voluptatem eos beatae est nostrum doloribus.</p>
                <a href="" class="btn btn-primary">lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 12/06/2020 à 19:00 dans catégorie Sport</div>
            <div class="content">
                <img src="http://placehold.it/350×150" alt="">
                <p>Iste aut totam, tempora error provident sed numquam voluptates enim, consequuntur minima voluptatem magni cupiditate.</p>
                <p>Optio deserunt animi dicta, repellat possimus ipsum porro molestias ullam quae! Iusto iure reiciendis soluta?</p>
                <a href="" class="btn btn-primary">lire la suite</a>
            </div>
        </article>
    </section>
{% endblock %}
