{% extends 'base.html.twig' %} {# ettendre le template de base #}
 {% block body %}   {# ettendre le body de base #}
     <article>   {# je declare un seule article  #}
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 12/06/2020 à 19:00 dans catégorie Sport</div>
            <div class="content">
                <img src="https://cdn.radiofrance.fr/s3/cruiser-production/2015/09/81ba4279-42b5-454b-a1a8-47053fa7ee28/870x489_fotolia_55910119_subscription_monthly_m.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta iste molestiae nobis rem ullam eaque?</p>
                <p>Earum tempore harum, magni molestias vitae voluptatum, laborum incidunt fugiat iure nesciunt aliquam. Expedita, necessitatibus?</p>
                <hr>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis et sit unde officia ad veniam quo dolor distinctio cum nobis. Eligendi eos, numquam perspiciatis error dolor deserunt asperiores nesciunt dicta iure commodi! Ex distinctio placeat incidunt a exercitationem mollitia perspiciatis nemo debitis, asperiores ab, dolorem nam vel alias architecto id.</p>
                <p>Magni perferendis quos eos, reiciendis saepe aperiam fugit doloribus fugiat minima at impedit mollitia aliquid atque sunt beatae veritatis quaerat, non repellendus corporis? Ea rem optio culpa id quasi esse architecto quibusdam dolorum aliquam laborum autem dignissimos reprehenderit impedit explicabo modi, incidunt, magni porro? Alias, libero vel. Impedit, beatae reiciendis?</p>
            </div>
        </article>

 {% endblock %}